@font-face{

font-family: delicious;
src: url('Delicious-Roman.otf');

}

@font-face{

    font-family: delicious;
    src: url('Delicious-Roman.otf');
    font-weight: bold;
    }

    h1{


        font-family: delicious, sans-serif;
    }
    